body {
    background-color: #121212;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    background-color: #1e1e1e;
}

.chart {
    width: 800px;
    aspect-ratio: 16 / 9;
    margin: 50px auto;
}
