{% extends "layout.html" %}

{% block title %}
    My Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio Breakdown</h1>
    <h2>Stock Breakdown</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="text-start"><strong>Symbol</strong></th>
                <th class="text-end"><strong>Shares</strong></th>
                <th class="text-end"><strong>Price</strong></th>
                <th class="text-end"><strong>Total</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td class="text-start">{{ stock['symbol'] }}</td>
                <td class="text-end">{{ stock['total_shares'] }}</td>
                <td class="text-end">{{ stock['price'] | sgd }}</td>
                <td class="text-end">{{ stock['total'] | sgd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="text-end"><strong>Cash</strong></td>
                <td class="text-end">{{ current_cash | sgd }}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-end"><strong>TOTAL</strong></td>
                <td class="text-end">{{ total | sgd }}</td>
            </tr>
        </tbody>
    </table>

    <div class="chart">
        <canvas id="stock-breakdown-pie"></canvas>
    </div>

    <script id="chart-data" type="application/json">
        {{ chart_data | tojson }}
    </script>

    <script>
        const chartData = JSON.parse(document.getElementById("chart-data").textContent)

        const labels = chartData.map(stock => stock.symbol)
        const values = chartData.map(stock => Number(stock.total))
        const backgroundColors = labels.map((_, i) => {
            const hue = (i * 137.508) % 360;   // Golden angle
            return `hsl(${hue}, 65%, 55%)`;
        });

        new Chart(document.getElementById("stock-breakdown-pie"), {
            type: 'pie',
            data: {
                labels: labels, 
                datasets: [{
                    label: "Value",
                    data:values,
                    backgroundColor: backgroundColors,
                    borderColor: "black",
                    borderWidth: 2, 
                    hoverOffset: 10,
                }]
            }, 
            options: {
                responsive: true, 
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'right',
                        labels: {
                            color: "white", 
                            font: {
                                size: 18, 
                                weight: "bold"
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'Stock Breakdown', 
                        color: "white", 
                        font: {
                            size: 24
                        }
                    }, 
                    tooltip: {
                        callbacks: {
                        label: function(context) {
                            const total = values.reduce((a, b) => a + b, 0)
                            const percentage = ((context.raw / total) * 100).toFixed(2)

                            return `${context.label}: $${context.raw.toLocaleString()} (${percentage}%)`
                            }
                        }
                    }
                }
            }
        })
    </script>
{% endblock %}