{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <form class="text-center" action="/cash" method="post">
        <div class="container">
            <div class="row justify-content-center mb-3 align-items-center">
                <div class="col-3 text-end">
                    <label>Cash To Add ($):</label>
                </div>
                <div class="col-4">
                    <input class="form-control" name="cash" placeholder="e.g. 1000">
                </div>
            </div>
            
            <div class="row justify-content-center mb-3 align-items-center">
                <button class="btn btn-primary mx-auto w-auto" type="submit">Add</button>
            </div>
        </div>
    </form>
{% endblock %}