{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="transactions-table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th class="num">Shares</th>
                <th class="num">Price</th>
                <th class="num">Total</th>
                <th>Type</th>
                <th class="num">Timestamp ↓</th>
            </tr>
        </thead>
        <tbody id="transactions-tbody">
        </tbody>
    </table>

    <script src="/static/js/history.js"></script>
{% endblock %}
