{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <div class="responsive-table">
        <table class="display-table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th class="num">Shares</th>
                    <th class="num">Price</th>
                    <th class="num">Total</th>
                    <th>Type</th>
                    <th class="num">Timestamp ↓</th>
                </tr>
            </thead>
            <tbody id="transactions-tbody">
            </tbody>
        </table>
    </div>

    <script src="/static/js/history.js"></script>
{% endblock %}
