{% extends "layout.html" %}

{% block title %}
    Request Quote
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Stock Symbol:</label>
            </div>
            <div class="col-4">
                <div class="d-flex gap-2">
                    <input class="form-control" id="symbol" name="symbol" placeholder="e.g. AAPL">
                    <button id="get-quote" class="btn btn-primary">Quote</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Current Price:</label>
            </div>
            <div class="col-4">
                <div id="current-price"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Change:</label>
            </div>
            <div class="col-4">
                <div id="change"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Percent Change:</label>
            </div>
            <div class="col-4">
                <div id="percent-change"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>High:</label>
            </div>
            <div class="col-4">
                <div id="high"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Low:</label>
            </div>
            <div class="col-4">
                <div id="low"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Open:</label>
            </div>
            <div class="col-4">
                <div id="open"></div>
            </div>
        </div>

        <div class="row justify-content-center mb-3 align-items-center">
            <div class="col-3 text-end">
                <label>Previous Closing:</label>
            </div>
            <div class="col-4">
                <div id="previous-close"></div>
            </div>
        </div>
    </div>

    <script>
        const button = document.getElementById("get-quote");
        const symbol_input = document.getElementById("symbol")

        button.addEventListener("click", async function () {
            const symbol = symbol_input.value;

            if (symbol.length == 0) {
                return;
            }

            const response = await fetch(`/api/quote?symbol=${symbol}`);
            const data = await response.json()

            const sign = data.change > 0 ? "+" : data.change < 0 ? "-" : ""

            document.getElementById("current-price").textContent = `$${data.current_price}`
            document.getElementById("change").textContent = `${sign}$${Math.abs(data.change)}`
            document.getElementById("percent-change").textContent = `${data.percent_change}%`
            document.getElementById("high").textContent = `${data.high}`
            document.getElementById("low").textContent = `${data.low}`
            document.getElementById("open").textContent = `${data.open}`
            document.getElementById("previous-close").textContent = `${data.previous_close}`
        })
    </script>
{% endblock %}
