{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <form class="text-center" action="/sell" method="post">
        <div class="container">
            <div class="row justify-content-center mb-3 align-items-center">
                <div class="col-3 text-end">
                    <label>Stock Symbol:</label>
                </div>
                <div class="col-4">
                    <select class="form-select" name="symbol">
                        {% for stock in portfolio %}
                        <option value="{{stock['symbol'] }}">{{ stock['symbol'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row justify-content-center mb-3 align-items-center">
                <div class="col-3 text-end">
                    <label>Shares:</label>
                </div>
                <div class="col-4">
                    <input class="form-control" name="shares" placeholder="e.g. 10">
                </div>
            </div>

            <div class="row justify-content-center mb-3 align-items-center">
                <button class="btn btn-primary mx-auto w-auto" type="submit">Sell</button>
            </div>
        </div>
    </form>
{% endblock %}
